

div{
    display: flex;
    flex-direction: column;
    width: 40%;


}
body{
   
    background-repeat: no-repeat;
   
    background-color: black;

}
a{ text-decoration: none;
    color: red;
}

img{
    width: 405px;
  
}